.editor-js-video-plugin {
  display grid
  grid-gap 16px

  &__video {
    display inline-flex
    width 100%
    height auto
    position relative

    video {
      width 100%
      height 100%
    }

    button {
      position absolute
      right 8px
      top 8px
      width 26px
      height 26px
      display inline-flex
      align-items center
      justify-content center
      border none
      background #e9e9e9
      border-radius 5px
      cursor pointer

      &:hover {
        background #e2e2e2
      }

      svg {
        width 24px
        height 24px
      }
    }
  }

  & .cdx-button {
    position relative
    width 100%

    input[type='file'] {
      position absolute
      left 0
      top 0
      width 0
      height 0
    }
  }
}